{% extends 'solo.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="form-signin">
        {{ form_start(registrationForm) }}
            <img class="mb-4" src="{{ asset('images/website/logo.png') }}" alt="WebLabs" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal">Enregistrement</h1>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div class="form-floating">
                {{ form_widget(registrationForm.email) }}
                <label for="floatingInput">{{ form_label(registrationForm.email) }}:</label>
            </div>
            <div class="form-floating">

                {{ form_widget(registrationForm.plainPassword) }}
                <label for="floatingPassword">Mot de passe:</label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox mb-3">
                <label>
                    {{ form_widget(registrationForm.agreeTerms) }} J'accepte les conditions
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Enregistrer</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
